<form [formGroup]="form">
  <div>
    <fieldset>
      <div>
        <label for="agencyId"> Agency</label>
        <select name="agencyId"
                formControlName="agencyId">
          <option value="">Select an agency</option>
          <option *ngFor="let agency of agencies"
                  [value]="agency.id">{{ agency.name }}</option>
        </select>
        <small *ngIf="mustShowMessage('agencyId')">{{ getErrorMessage('agencyId') }}</small>
      </div>
      <!-- <div>
        <label for="destination"> Destination</label>
        <input name="destination"
              type="text"
              formControlName="destination"
              [attr.aria-invalid]="fms.hasError(form, 'destination')">
        <small *ngIf="mustShowMessage('destination')">{{ getErrorMessage('destination') }}</small>
      </div>
      <div>
        <label for="places"> Places</label>
        <input name="places"
              type="number"
              formControlName="places"
              [attr.aria-invalid]="hasError('places')">
        <small *ngIf="mustShowMessage('places')">{{ getErrorMessage('places') }}</small>
      </div>
      <div>
        <label for="startDate"> Start Date</label>
        <input name="startDate"
              type="date"
              formControlName="startDate"
              [attr.aria-invalid]="hasError('startDate')">
        <small *ngIf="mustShowMessage('startDate')">{{ getErrorMessage('startDate') }}</small>
      </div>
      <div>
        <label for="endDate"> End Date</label>
        <input name="endDate"
              type="date"
              formControlName="endDate"
              [attr.aria-invalid]="hasError('endDate')">
        <small *ngIf="mustShowMessage('endDate')">{{ getErrorMessage('endDate') }}</small>
        <small>{{getDatesMessage()}}</small>
      </div>
      <div>
        <label for="flightPrice"> Flight Price</label>
        <input name="flightPrice"
              type="number"
              formControlName="flightPrice"
              [attr.aria-invalid]="hasError('flightPrice')">
        <small *ngIf="mustShowMessage('flightPrice')">{{ getErrorMessage('flightPrice') }}</small>
      </div>
    </fieldset>
  </div> -->

<app-template-control [form]="form" formControlName="destination"
  label=" Destination Name" placeHolder="Your Destination"> </app-template-control>

  <app-template-control [form]="form" formControlName="places"
  label="Places" placeHolder="" inputType="number"> </app-template-control>

  <app-template-control [form]="form" formControlName="flightPrice"
  label="Price" placeHolder="" inputType="number"> </app-template-control>

  <app-template-control [form]="form" formControlName="startDate"
  label="Date from" placeHolder="" inputType="date"> </app-template-control>

  <app-template-control [form]="form" formControlName="endDate"
  label="Date to" placeHolder="" inputType="date"> </app-template-control>

</fieldset>
</div>

  <button [disabled]="form.invalid"
          (click)="onSubmitClick()">Save</button>
</form>
