<form [formGroup]="form">
  <fieldset>
    <div>
      <label for="tripId"> Trip Id </label>
      <select name="tripId"
              id="tripId"
              formControlName="tripId"
              [attr.aria-invalid]="hasError('tripId')">
        <option selected
                value="">Select a trip id</option>
        <option *ngFor="let trip of trips"
                [value]="trip.id">
          {{ trip.id }}
        </option>
      </select>
      <small *ngIf="mustShowMessage('range')">{{ getErrorMessage('range') }}</small>
    </div>

    <app-template-control [form]="form" formControlName="passengerName"
  label="Passenger Name" placeHolder="Your passenger Name" inputType="text"> </app-template-control>

  <app-template-control [form]="form" formControlName="date"
  label="Date" placeHolder="" inputType="date"> </app-template-control>

  <app-template-control [form]="form" formControlName="luggageKilos"
  label="Kg" placeHolder="" inputType="number"> </app-template-control>

  <app-template-control [form]="form" formControlName="hasPremiumFoodPrice"
  label="Premium Food" placeHolder="" inputType="checkbox"> </app-template-control>

  </fieldset>
  <div>
    <button type="submit"
            (click)="onSubmitClick()"
            [disabled]="form.invalid"> Send new Booking data </button>
  </div>
</form>
